.container {
  display: block;
  width: 75%;
  text-align: center;
  margin: 32px auto;
}
.done {
  text-decoration: line-through;
}
.hide {
  display: none;
}

.empty-state {
  display: none;
}
#list:empty {
  display: none;
}
#list:empty + .empty-state {
  display: block;
}
img.empty-state_img {
  width: 50%;
}
.list-item {
  display: grid;
  grid-template-columns: 70% 30%;
  text-align: left;
  align-content: center;
}
.btns {
  justify-self: end;
}
input.checkbox {
  margin-right: 16px;
}
